<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	不同Mapper文件的namespace值应该保证唯一
	在程序中通过[ namespace + id ]定位到要执行哪一条SQL语句
 -->
<mapper namespace="com.yetk.py.sys.dao.SysLogDao">
	<sql id="querySql">
		from sys_logs
		<if test="username!=null and username!=''">
			<where>
				username like concat("%",#{username},"%")
			</where>
		</if>
	</sql>
	<select id="getRowCount" resultType="java.lang.Integer">
		select count(*) 
		<include refid="querySql"></include>
	</select>
	<select id="findPageObjects" resultType="SysLog">
		select *
		<include refid="querySql"></include>
		limit #{startIndex},#{pageSize}
	</select>
	<delete id="deleteObjects">
       delete from sys_Logs
       where id in 
       <foreach collection="ids"
                open="("
                close=")"
                separator=","
                item="id">
               #{id} 
        </foreach>
    </delete>
</mapper>